<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @item.due_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
